<div class="container accessories-section">
  {%- if section.settings.accessories-title -%} 
                    <div class="car-slider__title">{{ section.settings.accessories-title }}</div> 
                {%- endif -%} 
  {% if section.blocks.size > 0 %}
<div class="accessories-section__item-wrapper">
  {% for block in section.blocks %}
    <div class="accessories-section__item">
      <div>
        <img src="{{ block.settings.accessoriesproduct | img_url: "master" }}"
      </div>
      <div>
    {{ block.settings.accessoriesproduct.title }}
    </div>
    </div>
    {% endfor %}
</div>
    {% endif %}
</div>

{% schema %}
  {
    "name": "Accessories section",
    "settings": [
      {
          "type": "html",
          "id": "accessories-title",
          "label": "Title"
        }
    ],
    "max_blocks": 3,
    "blocks": [
     {
       "name": "Block",
       "type": "block",
       "settings": [
         {
          "type": "product",
          "id": "accessoriesproduct",
          "label": "Product"
        }
      ]
     }
   ],
     "presets": [
       {
         "name": "Accessories section" 
       }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}